html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.header-blue {
    background: linear-gradient(135deg, #172a74, #21a9af);
    background-color: #184e8e;
    padding-top: 80px;
    padding-bottom: 80px;
    font-family: monospace;
    height: 100%;
  }
  
  @media (min-width:768px) {
    .header-blue {
      padding-bottom: 120px;
    }
  }
  
  .header-blue .hero {
    margin-top: 200px;
    text-align: center;
  }
  
  @media (min-width:768px) {
    .header-blue .hero {
      margin-top: 60px;
      text-align: left;
    }
  }
  
  .header-blue .hero h1 {
    color:#f1f1f1;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 300;
    line-height: 1.4;
  }
  
  @media (min-width:992px) {
    .header-blue .hero h1 {
      margin-top: 150px;
      margin-bottom: 30px;
      line-height: 1.2;
    }
  }
  
  .header-blue .hero p {
    color: rgba(255,255,255,0.8);
    font-size: 15px;
    margin-bottom: 50px;
    font-weight: 300;
  }
  
  .header-blue .logo-holder {
    align-items: center;
  }
  
  .header-blue div.our-logo {
    max-width: 1980px;
    margin-top: 2rem;
    display: grid;
    justify-content: center;
    align-items: center;
  }
  
  .header-blue .our-logo img.logo {
    width: 100%;
    height: auto;
    margin: auto;
  }
  
  