html, body {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    place-items: center;
    overflow-x: hidden;
}

#login {
    height: 100vh;
    width: 100%;
}

.input-prepend input {
    width: 25em;
    height: 2.5em;
    padding: 2%;
}
  
  
  #login img {
    padding-top: .5em;
    width: 50%;
  }
  
  
  h1 {
    font-size: 1rem;
    color: #f1f1f1;
    font-weight: 900;
  }
  
  
  #email, #password {
    padding-left: .25rem;
    font-size: 1rem;
    color: #f1f1f1;
    font-weight: bolder;
  }
  
  
  #remember-me {
    color: #f1f1f1;
    font-weight: 300; font-size: .95em;
  }

  #UserRememberMe {
    margin-top: auto;
    margin-bottom: auto;
  }
  
  
  #login .center {
    text-align: center;
  }
  
  
  #login .login {
    max-width: 25em;
    margin: auto;
  }
  
  
  #login .login-form {
    padding-top: 1rem;
  }
  
  
  .btn-custom {
    font-family: 'Poppins', sans-serif;
    width: 10em;
    border-radius: .5rem;
    letter-spacing: 0.25em;
  }
  
  
  @media only screen and (max-width: 600px) {
    
    body {
      width: 100%;
    }
    
    
    .input-prepend input {
      max-width: 100%;
      max-height: 2.5em;
      padding: 1%;
      margin: auto;
    }
    
    
    h1 {
      font-size: 1rem;
      margin: 1em 0 0 0;
      color: #f1f1f1;
      font-weight: 600;
    }
  
    
    h2 {
      font-size: .75rem;
      color: #f1f1f1;
      font-weight: 350;
    }
    
  
    #remember-me {
      color: #f1f1f1;
      font-family: 'Poppins', sans-serif;
      font-weight: 300; font-size: .75em;
    }
}
  

.navbar-brand {
    padding: 0 1rem 0 1rem;
}

.links {
    padding: 0 1rem 0 5rem;
}